.JokeTitle {
  margin-bottom: 10px;
}
.Dropdown {
  margin-bottom: 10px;
}
.Form__DeleteButton {
  margin-bottom: 10px;
}
.mainButtonsBox {
  display: flex;
  justify-content: space-between;
}
.mainButtonsBox__Button {
  width: 30%;
}
