.DictionaryForm__box {
  display: flex;
  flex-flow: column-reverse;
}
.tasksTableBox__header {
  text-align: center;
}
.tasksTable__td__Button {
  width: 80px;
}
.tasksTable .tasksTable__tbody {
  border-top: 0px;
}
.tasksTable__button {
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 900px) {
  .DictionaryForm__box {
    justify-content: space-between;
    flex-direction: row;
  }
  .DictionaryForm__TasksFilterBox {
    width: 70%;
  }
  .tasksTableBox {
    width: 28%;
  }
}
