.DictionaryForm__box {
  display: flex;
  flex-flow: column-reverse;
}
/* .tasksTable {
  border: 2px solid;
  height: fit-content;
} */
.tasksTable__td__Button {
  width: 80px;
}
.tasksTable .tasksTable__tbody {
  border-top: 0px;
}
.tasksTable__button {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .DictionaryForm__box {
    justify-content: space-between;
    flex-direction: row;
  }
  .tasksTableBox {
    width: 28%;
  }
}
