.DictionaryForm__box {
  display: flex;
  flex-flow: column-reverse;
}
.tasksTable {
  border: 1px solid;
  height: fit-content;
}
.tasksTable__button {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .DictionaryForm__box {
    justify-content: space-between;
    flex-direction: row;
  }
  .tasksTableBox {
    width: 28%;
  }
}
