.Modal {
  padding-top: 60px;
}
.Modal__Header {
  background-color: bisque;
}
.Modal__Body {
  padding-left: 20px;
  padding-right: 20px;
  background-color: bisque;
}
.Form__Label {
  display: flex;
}
.JokeTitle {
  margin-bottom: 10px;
}
.Dropdown {
  margin-left: 7px;
  margin-right: 7px;
}
.Form__DeleteButton {
  margin-bottom: 10px;
}
.mainButtonsBox {
  display: flex;
  justify-content: space-between;
}
.mainButtonsBox__Button {
  width: 30%;
}
