.Modal {
  padding-top: 60px;
}
.Modal__Header {
  background-color: bisque;
}
.Modal__Body {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  padding-left: 20px;
  padding-right: 20px;
  background-color: bisque;
}
.Form__Label {
  display: flex;
}
.JokeTitle {
  margin-bottom: 10px;
}
.Dropdown {
  margin-left: 7px;
  margin-right: 7px;
}
.Button {
  margin-bottom: 10px;
}
.buttonsBox {
  display: flex;
  justify-content: space-between;
}
