.Button__noDictionaries {
  width: 100%;
}
.Card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Card__item {
  width: 40%;
  box-sizing: border-box;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.Card__Title {
  overflow: hidden;
  max-height: 80px;
}
.Card__buttonsList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Card__button {
  width: max-content;
  margin: 5px;
}

@media screen and (min-width: 720px) {
  .Card__item {
    width: 30%;
  }
}
